@import url('https://fonts.googleapis.com/css?family=Nunito');
html,body {
    background: linear-gradient(135deg,  rgb(132, 98, 245), rgb(255, 157, 43));
    overflow: hidden;
    height:100%;
    width:100%;
    display: flex;
    justify-content: center;
}

form{
    width:100%;
}

.container {
    display: -webkit-flex;
    align-items: center;
    text-align: center;
    flex-flow: wrap;
    height: 100%;
    width:100%;
    max-width:unset;
}

.container >div {
    flex:1;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

h1 {
    margin: 0.5em auto;
    color:  #ffffff ;
    vertical-align: text-top;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size:750%;
}
h2 { 
    color:  #ffffff ;
    font-family: 'Nunito', sans-serif;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


*/
/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}

.button {
	display: inline-block;
	position: relative;
	margin: 10px;
	padding: 20px 50px;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(255,255,255,.22);
	font: bold 30px/25px Arial, sans-serif;
    font-family: 'Nunito', sans-serif;
    border: none;
    outline:none;

	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;

	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.29), inset 1px 1px 1px rgba(255,255,255,.44);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,.29), inset 1px 1px 1px rgba(255,255,255,.44);
	box-shadow: 1px 1px 1px rgba(0,0,0,.29), inset 1px 1px 1px rgba(255,255,255,.44);

	-webkit-transition: all 0.15s ease;
	-moz-transition: all 0.15s ease;
	-o-transition: all 0.15s ease;
	-ms-transition: all 0.15s ease;
	transition: all 0.15s ease;
}

input[type="button"]{
   outline:none;
}
input[type="button"]::-moz-focus-inner {
   border: 0;
}

.button:hover {
    text-decoration: none;
    color: #ffffff;
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.29), inset 0px 0px 2px rgba(0,0,0, .5);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,.29), inset 0px 0px 2px rgba(0,0,0, .5);
	box-shadow: 1px 1px 1px rgba(0,0,0,.29), inset 0px 0px 2px rgba(0,0,0, .5);
    transform:scale(1.2);
}

.button:active {
	-webkit-box-shadow: inset 0px 0px 3px rgba(0,0,0, .8);
	-moz-box-shadow: inset 0px 0px 3px rgba(0,0,0, .8);
	box-shadow: inset 0px 0px 3px rgba(0,0,0, .8);
}

/* Big Button Style */

.big {
	padding: 0 40px;
	padding-top: 10px;
	height: 45px;
	text-transform: uppercase;
	font: bold 20px/22px Arial, sans-serif;
}

.big span {
	display: block;
	text-transform: none;
	font: italic normal 12px/18px Georgia, sans-serif;
	text-shadow: 1px 1px 1px rgba(255,255,255, .12);
}

/* Green Color */

.green {
	color: #ffffff;

	background: #00FF00; /* Old browsers */
	background: -moz-linear-gradient(top,  #00FF00 0%, #39be3d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00FF00), color-stop(100%,#39be3d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #00FF00 0%, #39be3d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #00FF00 0%,#39be3d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #00FF00 0%,#39be3d 100%); /* IE10+ */
	background: linear-gradient(top,  #00FF00 0%,#39be3d 100%); /* W3C */
}

/* Blue Color */

.blue {
	color: #ffffff;

	background: #00cccc; /* Old browsers */
	background: -moz-linear-gradient(top,  #00cccc 0%, #39a0be 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00cccc), color-stop(100%,#39a0be)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #00cccc 0%,#39a0be 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #00cccc 0%,#39a0be 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #00cccc 0%,#39a0be 100%); /* IE10+ */
	background: linear-gradient(top,  #00cccc 0%,#39a0be 100%); /* W3C */
}

.modalBackground 
{ 
    background-color:black;
    filter:alpha(opacity = 90);
    opacity : .80;
}
.modalPopup 
{ 
    background-color:black; 
}

.members
{
    display:flex;
    flex-direction:column;
    background-color:black;
    filter:alpha(opacity = 90);
    opacity : .6;
    width: 20%;
    text-align:left;
    height:99%;
    margin:5px;
    padding: 5px;
    flex:1;
}

.small {
    padding: 15px 25px;
}

.smaller {
    padding: 5px 12.5px;
    font-size:18.5px;
    margin:4px;
}

.memberList{
    width: 100%;
    flex:1;
    background-color:black;
}

.chat{
    flex-grow:4 !important;
    display:flex;
    text-align:left;
    flex-direction:column;
    padding: 5px;
    height:100%;
}

.chatBox{
    flex:1;
    overflow-y:scroll;
}

.message{
    display:flex;
}

.messageBox{
    flex:1;
    margin: 5px;
    vertical-align:top;
}

.chatButtons{
    display:flex;
    flex-direction:column;
}

span{
    padding-right: 5px;
}

option{
    color:white;
}

::-webkit-scrollbar {
    width: 13px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.emojiOuter {
    position: absolute;
}

.emoji-list {
    width: 255px;
    height: 400px;
    background-color: #fff;
    border: 6px solid #39a0be;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
    background: rgba(238,233,233,0.9);
    overflow-y: auto;
    display: none;
     -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

.emojiTable {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 10px;
}

.pop{
    display:none;
}

.popOut{
    float: right;
    margin-top: 5px;
    padding: 5px;
    background-color: #F9F9F9;
    border: 1px solid #DDD;
    display: block;
    position: absolute;
}

#shareBtn{
    float:right;
}

.messageFrame{
    width:100%;
}

.serverMessage{
    background:#20c932;
    width:50%;
    height: auto;
    padding:5px;
    border-radius: 5px;
    margin: 0;
    margin-left:auto;
    margin-right:auto;
    overflow: auto;
    text-align:center;
    color:white;
}
.chatMessage {
    background: rgba(255, 255, 255, 0.2);
    padding: 1em 1em;
    height: auto;
    width: 50%;
    border-radius: 5px;
    margin: 1em 1em;
    overflow: auto;
}

.chatMessage > .name{
      color: #FFF;
      font-size: 2em;
}

.chatMessage > .message {
      color: #FFF;
      font-size: 1em;
}

.messageFrame.left > .chatMessage {
    float:left;
}

.messageFrame.right > .chatMessage {
    float:right;
    background: rgba(0, 44, 248, 0.20);
}